@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-uvac-dark: #0f291e;
  --color-uvac-primary: #1b4332;
  --color-uvac-light: #2d6a4f;
  --color-uvac-accent: #d4a373;
  --color-uvac-sand: #faedcd;
}

body {
  font-family: var(--font-sans);
  color: #333;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
